<ion-header>
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-motivator></app-motivator>
  <app-motivator></app-motivator>
  <app-motivator></app-motivator>
  <app-motivator></app-motivator>
</ion-content>
